version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: hjk
      POSTGRES_PASSWORD: star8903
      POSTGRES_DB: main
      TZ: Asia/Seoul
      PGTZ: Asia/Seoul
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ../backend
    container_name: backend
    restart: always
    environment:
      - DATABASE_URL=postgresql://hjk:star8903@db:5432/main
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ../frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  db_data:
